<%= turbo_stream_from 'users_rooms_channel'%>
<%= turbo_stream_from 'room_details_channel'%>
<%= turbo_frame_tag 'rooms_controller' do %>
  <div class="flex flex-col bg-[#181D31] w-60 h-screen border border-sky-500">
 
    <!-- Contenedor del Sidebar -->
    <nav class="bg-[#181D31] h-full flex flex-col">
      <!-- User Rooms (Sección Desplazable) -->
      <div class="flex-1 overflow-y-auto border-r border-sky-500">
        <%= render 'shared/user_rooms' %>
      </div>
      <!-- Crear Room (Sección Fija en la Parte Inferior) -->
      <div class="border-t border-sky-500">
        <%= render 'shared/create_room' %>
      </div>
    </nav>
  </div>
<% end %>