<%= stylesheet_link_tag 'rooms', media: 'all', 'data-turbo-track': 'reload' %>
<%= turbo_frame_tag 'rooms_controller' do %>
     <div class="flex h-screen w-full">
    
    <!-- Sidebar Izquierdo -->
    <%= render 'shared/side_bar' %>
    
    <!-- Contenedor Principal con Contenido y Footer -->
    <div class="flex flex-col justify-between h-full flex-grow">
      
      <!-- Contenido Principal en el Centro -->
      <section class="flex flex-col items-center justify-center gap-5 flex-grow w-full">
        <%if current_user&.admin?%>
          <%= turbo_frame_tag "rooms_controller" do %>
            <%= render 'devise/registrations/registration_form', resource: User.new, resource_name: :user %>
          <% end %>
        <%else%>
          <div class="flex justify-center mt-4">
            <%= image_tag 'chat.png', alt:'Chat', class:'w-48 h-48'%>
          </div>
        <%end%>
      </section>

      <!-- Footer al Final del Contenedor Principal -->
      <footer class="w-full">
        <%= render 'shared/footer' %>
      </footer>
    </div>

    <!-- Sidebar Derecho -->
    <%= render 'shared/sidebar_right' %>

  </div>
<% end %>